* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

header,
main {
  clear: both;
  background-color: rgb(89, 102, 139);
}

header {
  padding: 15px;
}

nav a {
  text-transform: uppercase;
  font-size: 10px;
  float: left;
  padding: 10px;
}

nav > img {
  width: 40px;
  height: auto;
  float: left;
  margin-left: 40%;
}

.donateBtn > a {
  color: rgb(89, 102, 139);
}

.donateBtn {
  border: 1px solid grey;
  margin-left: 45%;
  border-radius: 5px;
}

main {
  padding: 5%;
  text-align: center;
}

main h1 {
  text-transform: uppercase;
  padding: 0px 10px 15px 10px;
  color: white;
  font-size: 75px;
}

main p {
  color: white;
  padding: 10px 300px 50px 300px;
}

img {
  position: relative;
  width: 25px;
  height: 25px;
  top: 6px;
  right: 3px;
}

span {
  color: white;
}

section {
  color: black;
  padding: 7%;
  text-align: center;
}

section p {
  color: black;
  padding: 10px 300px 50px 300px;
}

section h2 {
  font-size: 50px;
  text-transform: uppercase;
  padding-bottom: 40px;
}

.sectionTwo {
  padding: 50px;
  height: 500px;
  background-color: rgb(173, 173, 173);
}

.sectionTwo p {
  padding: 20px 100px;
}

.sectionTwo button {
  background-color: rgb(240, 248, 255, 0);
  padding: 10px;
  text-transform: uppercase;
  border: 1px solid black;
}

.sectionTwo button a {
  color: black;
  font-weight: bold;
}

h3 {
  text-transform: uppercase;
}

.visitTheGym {
  float: left;
  width: 50%;
  padding: 0;
}

.usVisitYou {
  float: right;
  width: 50%;
  padding: 0;
}

section img {
  width: 300px;
  height: auto;
  padding-bottom: 15px;
}

.volunteerBtn {
  background-color: rgb(240, 248, 255, 0);
  padding: 10px;
  text-transform: uppercase;
  border: 1px solid black;
  margin-top: 20px;
}

.volunteerBtn a {
  color: black;
  font-weight: bold;
}

.volunteerWithLG p {
  width: 100%;
  margin: 0;
  padding: 0 300px;
  text-align: center;
}

.volunteerWithLG h2 {
  padding-bottom: 20px;
}

section.volunteerWithLG {
  height: 500px;
}
